h1{
    font-family: League spartam;
    text-align: center;
    color: #ffa511;
    font-weight: 900;
    font-size: 55px;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: double underline #2fdafb;
    text-transform: uppercase;
}