h1{
    color: rgb(41, 146, 206);
    background-color: aliceblue;
    text-align: center;
    font-weight: normal;
    /*border: solid;*/
    width: 70%;
    text-decoration: chocolate underline;
}
p{
    font-family: Calibri;
}
a{
    text-decoration: none;
}